.dart_tool/
.packages
build/
.flutter-plugins*
android/local.properties
android/key.properties
*.jks
*.keystore
*.db
*.db-*
.env*
*.log
dist/
android/.gradle/
android/.kotlin/
android/captures/
windows/flutter/ephemeral/
*.iml
.idea/
